[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia GitHub - alejandrofornerartal/ProyectoASIR
Type=Link
URL=https://github.com/alejandrofornerartal/ProyectoASIR
Icon=text-html
Name[es_ES]=Enlace desde linux GitHub
